.screenshotsContainer {
  display: block;
}
.screenshotsFlexContainer {
  display: flex;
  flex-grow: 1;
}
.screenshotsContainerFlex {
  display: flex;
  flex-direction: row;
}
.screenshotContainer {
  height: 150px;
  min-width: 240px;
}
.container {
  display: block;
}
.title {
  margin-left: 1.5%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
